
.contenedor{
    /*  background-image: url("background.jpg");*/
      background-size: cover;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      margin: auto;
  }
  .contenedor{
  width: min(100%, 69em);
}
.contenedor-s{
  width: min(100%, 33.5em); /* 16px => 537 / 16 = 33.5625 */
}
  .nav {
    /* display: grid;
    grid-template-columns: 1fr auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "museo-sans", sans-serif;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none; 
  }
  
  .nav p{
    font-weight: 700;
    font-size: 2.12rem;
    margin: 0;
  }
  
  .nav ul{
    display: inline-flex;
    list-style-type: none;
    gap: 16px;
    margin:0;
    padding:0;
  }
  .nav link{
    display: inline-flex;
    list-style-type: none;
    text-decoration: none; 
  }
  .h2{ 
      font-family: "museo-sans", sans-serif;
      font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  
  }
  .proyectos{
    background-color: #efefef;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  @media (max-width: 768px) {
    .proyectos{
      grid-template-columns: 1fr;
    }
  }
  
  
  .concepto{
      box-shadow: 3px 3px 20px rgba(168, 168, 168, 0.749);
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 20px;
      width: 75%;
      border-radius: 2%;
    
      max-width: 800px;
      height: 400px;
      font-family: "museo-sans", sans-serif;
      font-size: 1em;
      background-color: rgb(237, 237, 237);
  
  }
  .servicios{

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
    width: 75%;
    border-radius: 2%;
  
    max-width: 800px;
    height: 400px;
    font-family: "museo-sans", sans-serif;
    font-size: 1em;


}
.contactoa{

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  width: 75%;
  border-radius: 2%;

  max-width: 800px;
  height: 400px;
  font-family: "museo-sans", sans-serif;
  font-size: 1em;
  

}
.lli{list-style: none;
  width: 100%;
  height: 500px;
}
.ell{list-style: none;
  width: 100%;
  height: 500px;
}
#name{width: 60%;
  font-family: "museo-sans", sans-serif;
      background-color: #e6e6e6;
      font-size: 12px; 
      margin-bottom: 20px;
}
#mail{width: 60%;
  font-family: "museo-sans", sans-serif;
      background-color: #e6e6e6;
      font-size: 12px; 
      margin-bottom: 20px;
}
#msg{width: 60%;
  font-family: "museo-sans", sans-serif;
      background-color: #e6e6e6;
      font-size: 12px; 
      height: 100px;
      margin-bottom: 20px;
      text-align: right;
}
#but{
      display: block;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: white;
      color: #49839e;
  
      text-decoration: none;
      font-family: "museo-sans", sans-serif;
      font-size: 12px;
}
  .fpresentacion{
      box-shadow: 3px 3px 20px rgba(26, 26, 26, 0.749);
      opacity: 40%;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 20px;
      width: 500px;
      border-radius: 2%;
      width: 90%;
      max-width: 400px;
      height: 500px;
      font-family: "museo-sans", sans-serif;
      background-color: #49839e;
      font-size: 12px; 
   }
  .habilidades{
      box-shadow: 3px 3px 20px rgba(168, 168, 168, 0.749);
      margin-top: 20px;
      overflow:hidden;
      padding: 0;
      width: 300px;
      border-radius: 5%;
      width: 40%;
      max-width: 300px;
      height: 120px;
     float:left;
     background-color: rgb(255, 255, 255);
     font-weight: 300;
     font-style: italic;
     font-family: "museo-sans", sans-serif;
     font-size: 12px;
  
  }
  .otrashab{
      margin-top: 20px;
      float: left;
      overflow:hidden;
      padding: 0;
      width: 320px;
      border-radius: 5%;
      width: 50%;
      max-width: 300px;
      height: 120px;
      background-color: rgb(238, 238, 238);
      
      font-weight: 300;
  font-style: italic;
      font-family: "museo-sans", sans-serif;
      font-size: 12px;
  
  }
  
  .icons{
      opacity: 40%;
      margin-top: 25px;
  overflow:hidden;
      padding: 0;
      border-radius: 5%;
      width: 10%;
      max-width: 300px; 
      height: 120px;
  
  text-align: center;  
  
  
  }
  
  
  .nombre{
  
      text-align: center;
      font-family: "adobe-text-pro", serif;
  font-weight: 400;
  font-style: normal;
  }
  
  .texto{ padding: 0px;
      font-family: "museo-sans", sans-serif;
      font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  text-align: center;
  
  }
  
  .t2{ 
      font-family: "museo-sans", sans-serif;
      font-size: 2em;
      font-weight: 300;
      font-style: normal;
      color: #7e7e7e;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 10px 0px 0px 10px ;
  
  }
  .mes1{ 
    font-family: "museo-sans", sans-serif;
    font-size: 2em;
    font-weight: 300;
    font-style: normal;
    color: #7e7e7e;
margin-left: auto;
margin-right: auto;
width: 200px;
padding: 10px 0px 0px 10px ;

}
  
  .imagen{
  margin-left: auto;
  margin-right:auto;
  display: block;
  width: 160px;
  height:160px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
  margin-top: 0px;
  
  }
  
  .mmenu{
      display: block;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: white;
      color: #49839e;
  
      text-decoration: none;
      font-family: "museo-sans", sans-serif;
      font-size: 12px;
      
  }
  .mmenu:hover{
      display: block;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #7d8080;
      color: white;
  
  text-shadow: #7e7e7e;
  font-family: "museo-sans", sans-serif;
      font-size: 12px;
      
  }
  .descarga{
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color:    #49839e;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-family: "museo-sans", sans-serif;    font-size: 12px;
  
  }
  .descarga:hover{
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #7d8080;
      color: #ffffff;
      text-decoration: none;
      font-family: "museo-sans", sans-serif;    font-size: 12px;
  
  }

 

.footer{margin-left: auto;
      margin-right: auto;
  
      padding: 0px ;
      width: 500px;
      border-radius: 2%;
      width: 90%;
      max-width: 400px;
      height: 500px;
  font-family: "museo-sans", sans-serif;    font-size: 12px;
  }